In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_excel(r"C:\Users\ANN MARY\Downloads\DATA MINING COURSE WORK\dataset_Ann.xlsx")
df

,Subject area of degree,Activity,Country of provider,Provider type,Level of qualification obtained,Mode of former study,Interim study marker,Academic year,Number,Percent
0,01 Medicine and dentistry,Employment and further study,England,All,All,All,Exclude significant interim study,2019/20,830,0.11
1,01 Medicine and dentistry,Full-time employment,England,All,All,All,Exclude significant interim study,2019/20,5450,0.71
2,01 Medicine and dentistry,Full-time further study,England,All,All,All,Exclude significant interim study,2019/20,415,0.05
3,01 Medicine and dentistry,"Other including travel, caring for someone or ...",England,All,All,All,Exclude significant interim study,2019/20,210,0.03
4,01 Medicine and dentistry,Part-time employment,England,All,All,All,Exclude significant interim study,2019/20,470,0.06
...,...,...,...,...,...,...,...,...,...,...
28087,Total science CAH level 1,Unemployed and due to start further study,England,Higher education providers (HEPs),Postgraduate (taught),Part-time,Include significant interim study,2019/20,5,0.00
28088,Total science CAH level 1,Unemployed and due to start work,England,Higher education providers (HEPs),Postgraduate (taught),Part-time,Include significant interim study,2019/20,20,0.00
28089,Total science CAH level 1,Unknown pattern of employment,England,Higher education providers (HEPs),Postgraduate (taught),Part-time,Include significant interim study,2019/20,40,0.00
28090,Total science CAH level 1,Unknown pattern of further study,England,Higher education providers (HEPs),Postgraduate (taught),Part-time,Include significant interim study,2019/20,5,0.00
28091,Total science CAH level 1,Voluntary or unpaid work,England,Higher education providers (HEPs),Postgraduate (taught),Part-time,Include significant interim study,2019/20,85,0.01

In [3]:
df.columns = df.columns.str.replace(' ', '_')
df

,Subject_area_of_degree,Activity,Country_of_provider,Provider_type,Level_of_qualification_obtained,Mode_of_former_study,Interim_study_marker,Academic_year,Number,Percent
0,01 Medicine and dentistry,Employment and further study,England,All,All,All,Exclude significant interim study,2019/20,830,0.11
1,01 Medicine and dentistry,Full-time employment,England,All,All,All,Exclude significant interim study,2019/20,5450,0.71
2,01 Medicine and dentistry,Full-time further study,England,All,All,All,Exclude significant interim study,2019/20,415,0.05
3,01 Medicine and dentistry,"Other including travel, caring for someone or ...",England,All,All,All,Exclude significant interim study,2019/20,210,0.03
4,01 Medicine and dentistry,Part-time employment,England,All,All,All,Exclude significant interim study,2019/20,470,0.06
...,...,...,...,...,...,...,...,...,...,...
28087,Total science CAH level 1,Unemployed and due to start further study,England,Higher education providers (HEPs),Postgraduate (taught),Part-time,Include significant interim study,2019/20,5,0.00
28088,Total science CAH level 1,Unemployed and due to start work,England,Higher education providers (HEPs),Postgraduate (taught),Part-time,Include significant interim study,2019/20,20,0.00
28089,Total science CAH level 1,Unknown pattern of employment,England,Higher education providers (HEPs),Postgraduate (taught),Part-time,Include significant interim study,2019/20,40,0.00
28090,Total science CAH level 1,Unknown pattern of further study,England,Higher education providers (HEPs),Postgraduate (taught),Part-time,Include significant interim study,2019/20,5,0.00
28091,Total science CAH level 1,Voluntary or unpaid work,England,Higher education providers (HEPs),Postgraduate (taught),Part-time,Include significant interim study,2019/20,85,0.01

In [4]:
df.columns.to_list()

['Subject_area_of_degree',
 'Activity',
 'Country_of_provider',
 'Provider_type',
 'Level_of_qualification_obtained',
 'Mode_of_former_study',
 'Interim_study_marker',
 'Academic_year',
 'Number',
 'Percent']

# Replace column names with your new column names
df_encoded = pd.get_dummies(df, columns=["Subject_area_of_degree", "Activity", "Country_of_provider", "Provider_type", "Level_of_qualification_obtained", "Mode_of_former_study"])

# Encode Interim Study Marker as binary variable
df_encoded["Interim_study_marker"] = df_encoded["Interim_study_marker"].apply(lambda x: 1 if x == "Include significant interim study" else 0)

# If Academic Year is categorical, encode it
df_encoded = pd.get_dummies(df_encoded, columns=["Academic_year"])

# If Academic Year is treated as a continuous variable, extract numerical information
#df_encoded["Academic_year"] = df_encoded["Academic_year"].apply(lambda x: int(x.split("/")[0]))

df_encoded

bool_columns = df_encoded.select_dtypes(include=['bool']).columns
df_encoded[bool_columns] = df_encoded[bool_columns].astype(int)
df_encoded

In [5]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

# Assuming your original DataFrame is named df

# Make a copy of the original DataFrame
df_encoded = df.copy()

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Iterate over each column in the DataFrame
for column in df.columns:
    # Check if the column is categorical (i.e., dtype is object)
    if df[column].dtype == 'object':
        # Fit label encoder and transform values on the copy
        df_encoded[column] = label_encoder.fit_transform(df[column])

# Now, df_encoded contains numerical labels for each category in categorical columns,
# while df remains unchanged
df_encoded

,Subject_area_of_degree,Activity,Country_of_provider,Provider_type,Level_of_qualification_obtained,Mode_of_former_study,Interim_study_marker,Academic_year,Number,Percent
0,0,0,0,0,0,0,0,0,830,0.11
1,0,1,0,0,0,0,0,0,5450,0.71
2,0,2,0,0,0,0,0,0,415,0.05
3,0,3,0,0,0,0,0,0,210,0.03
4,0,4,0,0,0,0,0,0,470,0.06
...,...,...,...,...,...,...,...,...,...,...
28087,23,7,0,2,6,2,1,0,5,0.00
28088,23,8,0,2,6,2,1,0,20,0.00
28089,23,9,0,2,6,2,1,0,40,0.00
28090,23,10,0,2,6,2,1,0,5,0.00
28091,23,11,0,2,6,2,1,0,85,0.01

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Assuming df_encoded contains your encoded DataFrame

# Define features (X) and target variable (y)
X = df_encoded.drop('Activity', axis=1)  # Replace 'Target_Variable_Column_Name' with your target variable
y = df_encoded['Activity']

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.7, random_state=52)

# Random Forest Classifier
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)
rf_classifier.fit(X_train, y_train)
rf_predictions = rf_classifier.predict(X_test)
rf_accuracy = accuracy_score(y_test, rf_predictions)
print("Random Forest Accuracy:", rf_accuracy)

Random Forest Accuracy: 0.4087973557081109

In [17]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import cross_val_score

# Load your dataset (replace 'your_dataset.csv' with the actual filename)
df1 = pd.read_excel(r"C:\Users\ANN MARY\Downloads\DATA MINING COURSE WORK\dataset_Ann.xlsx")

# Drop any columns that are not relevant for classification
# For example, if 'Activity' is your target variable, drop it from the features
X = df1.drop(['Activity'], axis=1)
y = df1['Activity']

# Encode categorical variables
label_encoders = {}
for col in X.select_dtypes(include=['object']).columns:
    label_encoders[col] = LabelEncoder()
    X[col] = label_encoders[col].fit_transform(X[col])

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the Random Forest classifier
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)
rf_classifier.fit(X_train, y_train)

# Make predictions on the test set
y_pred = rf_classifier.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Random Forest Accuracy:", accuracy)

# Cross-validation
cv_scores = cross_val_score(rf_classifier, X, y, cv=5)
print("Cross-Validation Scores:", cv_scores)
print("Mean CV Accuracy:", cv_scores.mean())

Random Forest Accuracy: 0.4442071542979178
Cross-Validation Scores: [0.33137569 0.33137569 0.36952652 0.39409042 0.39551442]
Mean CV Accuracy: 0.3643765485447045

In [18]:
from sklearn.ensemble import GradientBoostingClassifier

# Initialize Gradient Boosting classifier
gb_classifier = GradientBoostingClassifier(random_state=42)

# Fit the model on the training data
gb_classifier.fit(X_train, y_train)

# Predict on the testing data
y_pred_gb = gb_classifier.predict(X_test)

# Calculate accuracy
accuracy_gb = accuracy_score(y_test, y_pred_gb)
print("Gradient Boosting Accuracy:", accuracy_gb)

# Perform cross-validation
cv_scores_gb = cross_val_score(gb_classifier, X, y, cv=5)
print("Gradient Boosting Cross-Validation Scores:", cv_scores_gb)
print("Mean CV Accuracy for Gradient Boosting:", cv_scores_gb.mean())

Gradient Boosting Accuracy: 0.4593344011389927
Gradient Boosting Cross-Validation Scores: [0.36447767 0.38263036 0.39373443 0.41171235 0.39551442]
Mean CV Accuracy for Gradient Boosting: 0.38961384449888437

In [ ]:
from sklearn.preprocessing import LabelEncoder